body {
  max-width: 1920px;
  min-height: 768px;
  background: url('../images/bg.jpg') no-repeat;
  color: #fff;
}
.w {
  max-width: 1920px;
  min-height: 768px;
  margin: 0 auto;
  background: url('../images/logo.png') no-repeat;
  background-size: contain;
  padding: 80px 20px 20px;
  display: flex;
}
.column {
  flex: 3;
}
.column:nth-child(2) {
  flex: 4;
}
.borImg {
  position: relative;
  border: 1px solid transparent;
  border-width: 51px 40px 21px 130px;
  border-image: url(../images/border.png) 51 40 21 130;
}
.content {
  position: absolute;
  top: -51px;
  right: -40px;
  bottom: -21px;
  left: -130px;
  padding: 20px 30px;
}
.outer {
  height: 110px;
}
.total {
  display: flex;
  justify-content: space-around;
}
.total h1 {
  font-size: 22px;
}
.total p {
  color: #4c88c0;
  margin-top: 10px;
}
.monitor {
  height: 470px;
  margin-top: 20px;
}
.monitor h3 {
  font-size: 20px;
  color: #1150b9;
  font-weight: 400;
}
.monitor h3 span {
  padding: 0 25px;
  cursor: pointer;
}
.monitor h3 span.active {
  color: #fff;
}
.monitor h3 span:nth-child(1) {
  border-right: 2px solid #00f2f1;
}
.monitor .nav {
  height: 38px;
  padding: 0 25px;
  background-color: rgba(255, 255, 255, 0.1);
  line-height: 38px;
  color: #5bd8fe;
  margin-top: 20px;
}
.monitor .nav ul {
  display: flex;
}
.monitor .nav ul li {
  flex: 2;
}
.monitor .nav ul li:nth-child(2) {
  flex: 6;
}
.monitor .list {
  position: relative;
  height: 335px;
  overflow: hidden;
}
.monitor .list ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.monitor .list li {
  display: flex;
  position: relative;
  width: 100%;
  height: 36px;
  line-height: 36px;
  padding: 0 25px;
  color: #3e6ca8;
  cursor: default;
}
.monitor .list li i {
  display: none;
}
.monitor .list li.active {
  background-color: rgba(255, 255, 255, 0.1);
}
.monitor .list li.active i {
  position: absolute;
  left: 0;
  top: 11px;
  display: block;
}
.monitor .list li span {
  flex: 2;
}
.monitor .list li span:nth-child(3) {
  flex: 6;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.pie {
  height: 335px;
  margin-top: 20px;
}
.pie > .content {
  display: flex;
}
.pie .show {
  flex: 6;
  margin-top: 15px;
}
.pie .show h3 {
  font-size: 20px;
  font-weight: 400;
}
.pie .show .picShow {
  margin-top: 10px;
  height: 240px;
}
.pie .dataShow {
  height: 240px;
  flex: 4;
  text-align: center;
  margin-top: 52px;
  background: url('../images/rect.png') no-repeat;
  background-size: cover;
}
.pie .dataShow h1 {
  margin-top: 45px;
  font-weight: 400;
}
.pie .dataShow p {
  margin-top: 5px;
}
.deviceShow {
  height: 560px;
  margin: 40px 20px 20px;
}
.deviceShow .dataTitle {
  height: 50px;
  line-height: 50px;
}
.deviceShow .dataTitle h3 {
  position: relative;
  font-size: 20px;
  font-weight: 400;
  padding: 0 25px;
}
.deviceShow .dataTitle h3 i {
  position: absolute;
  top: 0;
  left: 0;
  color: #68D8FE;
  margin-top: 15px;
}
.deviceShow .dataMap {
  height: 510px;
  background-color: rgba(255, 255, 255, 0.1);
}
.userCal {
  height: 335px;
  margin: 0 20px;
}
.userCal > .content {
  display: flex;
}
.userCal .barChart {
  flex: 9;
  margin-top: 15px;
}
.userCal .barChart h3 {
  font-size: 20px;
  font-weight: 400;
}
.userCal .barChart .barShow {
  margin-top: 10px;
  height: 240px;
}
.userCal .userShow {
  flex: 1;
  height: 240px;
  flex: 4;
  text-align: center;
  margin-top: 52px;
  background: url('../images/rect.png') no-repeat;
  background-size: cover;
}
.userCal .userShow h1 {
  margin-top: 45px;
  font-weight: 400;
}
.userCal .userShow p {
  margin-top: 5px;
}
.day {
  height: 145px;
}
.day .dayNav li {
  float: left;
}
.day .dayNav li a {
  padding: 0 15px;
  font-size: 16px;
  color: #1950c4;
  border-right: 2px solid #00f2f1;
}
.day .dayNav li:first-child a {
  padding-left: 0;
}
.day .dayNav li:last-child a {
  border-right: 0;
}
.day .dayNav li.active a {
  color: #fff;
}
.day .dayData {
  margin-top: 25px;
}
.day .dayData .left,
.day .dayData .right {
  width: 50%;
  float: left;
}
.day .dayData .left h1,
.day .dayData .right h1 {
  font-weight: 400;
}
.day .dayData .left p,
.day .dayData .right p {
  margin-top: 5px;
}
.sale {
  height: 245px;
  margin-top: 20px;
}
.sale .saleNav li {
  float: left;
  height: 24px;
  line-height: 24px;
  padding-left: 20px;
}
.sale .saleNav li h1 {
  font-size: 18px;
  font-weight: 400;
  padding-right: 20px;
  border-right: 2px solid #00f2f1;
}
.sale .saleNav li a {
  color: #098dc0;
  font-size: 16px;
  padding: 2px;
}
.sale .saleNav li.active a {
  background-color: #4c9bfd;
  color: #fff;
  border-radius: 2px;
}
.sale .dotted {
  margin-top: 16px;
  height: 160px;
}
.details {
  display: flex;
  margin-top: 20px;
}
.details .channel {
  flex: 1;
  width: 50%;
  height: 230px;
  margin-right: 20px;
}
.details .channel h1 {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  font-weight: 400;
}
.details .channel li {
  float: left;
  width: 50%;
  text-align: left;
}
.details .channel li h3 {
  font-size: 30px;
  font-weight: 400;
}
.details .channel li span {
  font-size: 14px;
}
.details .channel li p {
  position: relative;
  color: #4c9bfd;
  padding-left: 16px;
}
.details .channel li p i {
  position: absolute;
  top: 2px;
  left: 0;
}
.details .channel li:nth-child(even) {
  text-align: right;
}
.details .channel li:nth-child(even) p {
  text-align: left;
  padding-left: 39px;
}
.details .channel li:nth-child(even) p i {
  left: 25px;
}
.details .channel li:nth-child(n + 3) {
  margin-top: 24px;
}
.details .sell {
  flex: 1;
  width: 50%;
  height: 230px;
}
.details .sell .content > h1 {
  height: 45px;
  line-height: 45px;
  font-size: 18px;
  font-weight: 400;
}
.details .sell .sellTable {
  height: 75px;
}
.details .sell .box {
  position: relative;
  height: 75px;
}
.details .sell .box h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  font-size: 24px;
  font-weight: 400;
  z-index: 999;
}
.details .sell .box h1 span {
  font-size: 14px;
  margin-left: 5px;
}
.details .sell .sellShow {
  margin-top: 5px;
}
.details .sell .sellShow .left,
.details .sell .sellShow .right {
  width: 50%;
  float: left;
}
.details .sell .sellShow .left h1,
.details .sell .sellShow .right h1 {
  font-size: 22px;
  font-weight: 400;
}
.details .sell .sellShow .left p,
.details .sell .sellShow .right p {
  margin-top: 5px;
}
.rank {
  height: 275px;
  margin-top: 20px;
}
.rank .content {
  display: flex;
}
.rank .content > div {
  flex: 1;
}
.rank .content h1 {
  font-size: 20px;
  font-weight: 400;
  height: 50px;
  line-height: 50px;
}
.rank .content .country ol li {
  height: 62px;
  line-height: 62px;
}
.rank .content .country ol li i {
  font-size: 30px;
  margin-right: 15px;
  vertical-align: middle;
}
.rank .content .province li {
  height: 32px;
  line-height: 32px;
  color: #4995f4;
  position: relative;
  cursor: default;
  padding: 0 10px;
}
.rank .content .province li span:nth-child(2) {
  float: right;
  margin-right: 15px;
}
.rank .content .province li i {
  position: absolute;
  right: 10px;
  top: 11px;
}
.rank .content .province li.active {
  background-color: rgba(255, 255, 255, 0.1);
}
.rank .content .lately .day30 {
  height: 50px;
  line-height: 50px;
  text-align: right;
}
.rank .content .lately .day30 span {
  float: right;
  width: 67px;
  height: 15px;
  line-height: 15px;
  margin-top: 22px;
  padding-right: 14px;
  color: #0bace6;
  background: url('../images/line.png') no-repeat;
}
.rank .content .lately .brand {
  height: 190px;
  background-color: rgba(255, 255, 255, 0.1);
}
.rank .content .lately .brand li {
  height: 32px;
  line-height: 32px;
  color: #50f8fa;
  position: relative;
  cursor: default;
  padding: 0 10px;
}
.rank .content .lately .brand li span:nth-child(2) {
  float: right;
  margin-right: 15px;
}
.rank .content .lately .brand li i {
  position: absolute;
  right: 10px;
  top: 11px;
}
